.navbar.is-fixed-top {
  background-color: #ffffdf;
  transition: background-color 0.5s ease;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}




.navbar a {
  color: #333333; /* Adjust text color for better visibility */
}

.navbar a:hover {
  color: #00d1b2; /* Adjust text color on hover for better visibility */
}
